# -------------------------
# 🔧 General
# -------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------
# 💻 IntelliJ / Android Studio
# -------------------------
*.iml
*.ipr
*.iws
.idea/

# -------------------------
# 🧠 VS Code
# -------------------------
# Uncomment if you don’t want to include VS Code settings in git
#.vscode/

# -------------------------
# 🐦 Flutter / Dart / Pub
# -------------------------
assets/_backup_videos/
assets/_backup_audio/
assets/_backup_images/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# -------------------------
# 🧱 Android build outputs
# -------------------------
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
android/KEYSTORE_CREDENTIALS.local.txt
android/*.jks

# -------------------------
# 🛡️ Obfuscation & Symbolication
# -------------------------
app.*.symbols
app.*.map.json

# -------------------------
# 🔒 macOS / Linux / Windows
# -------------------------
*.lock
*.tmp
Thumbs.db
